.grand{
  width: 330px;
  padding:10px;
  background-color:#EAEAE4;
}

.parent{
  width: 300px;
  margin: 0px 20px 10px 0px;
  padding: 10px;
  border: 1px solid #aaa;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.inner{
  padding: 0px;
  margin: 0 10px;
  width: 240px;
  display: inline-block;
}
p {
  margin:0px;
}